.root {
    display: table-cell;
    vertical-align: middle;
}

.products {
    padding: 50px 0;
}

.products__title {
    margin-bottom: 25px;
    font-family: 'Exo 2.0 Thin', sans-serif;
    font-size: 36px;
    text-align: center;
    color: #fff;
}






